function Enemy.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 20
pop this 1
push constant 8
pop this 4
push constant 8
pop this 5
push constant 8
pop this 6
push constant 0
pop this 7
push constant 8
push constant 8
call Array2d.new 2
pop this 8
push this 8
push constant 0
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 0
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 0
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 0
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 0
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 0
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 0
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 0
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 1
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 1
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 2
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 5
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 6
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 2
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 1
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 2
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 5
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 6
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 3
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 6
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 4
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 1
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 2
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 3
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 4
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 5
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 5
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 6
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 8
push constant 7
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push pointer 0
return
function Enemy.getHeight 0
push argument 0
pop pointer 0
push this 5
return
function Enemy.getWidth 0
push argument 0
pop pointer 0
push this 4
return
function Enemy.getX 0
push argument 0
pop pointer 0
push this 0
return
function Enemy.getY 0
push argument 0
pop pointer 0
push this 1
return
function Enemy.setHeight 0
push argument 0
pop pointer 0
push argument 1
pop argument 1
push constant 0
return
function Enemy.setWidth 0
push argument 0
pop pointer 0
push argument 1
pop argument 1
push constant 0
return
function Enemy.crashed 0
push argument 0
pop pointer 0
push constant 0
pop this 6
push constant 1
pop this 7
push constant 0
return
function Enemy.getCrashed 0
push argument 0
pop pointer 0
push this 7
return
function Enemy.dispose 0
push argument 0
pop pointer 0
push this 8
call Array2d.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Enemy.draw 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
call Enemy.clean 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 8
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 8
lt
not
if-goto WHILE_END1
push this 8
push local 0
push local 1
call Array2d.get 3
pop local 2
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END0
push this 0
push local 1
add
push this 1
push local 0
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Enemy.update 1
push argument 0
pop pointer 0
push this 0
pop this 2
push this 1
pop this 3
push this 1
push this 6
add
pop this 1
push pointer 0
call Enemy.shrinkHeight 1
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Enemy.crashed 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Enemy.clean 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 2
push this 3
push this 2
push this 4
add
push this 3
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Enemy.shrinkHeight 0
push argument 0
pop pointer 0
push this 1
push this 5
add
push constant 250
gt
return
