function Player.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 8
pop this 4
push constant 8
pop this 5
push constant 5
pop this 6
push constant 256
push this 4
push constant 2
call Math.divide 2
sub
pop this 0
push constant 220
pop this 1
push constant 8
push constant 8
call Array2d.new 2
pop this 7
push this 7
push constant 0
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 0
push constant 1
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 0
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 0
push constant 3
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 0
push constant 4
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 0
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 0
push constant 6
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 0
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 3
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 4
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 1
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 3
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 4
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 2
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 1
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 5
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 3
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 1
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 5
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 6
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 4
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 3
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 4
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 5
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 0
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 1
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 3
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 4
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 6
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 6
push constant 7
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 0
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 1
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 2
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 3
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 4
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 5
push constant 1
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 6
push constant 0
call Array2d.set 4
pop temp 0
push this 7
push constant 7
push constant 7
push constant 0
call Array2d.set 4
pop temp 0
push pointer 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push this 7
call Array2d.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.getHeight 0
push argument 0
pop pointer 0
push this 5
return
function Player.getWidth 0
push argument 0
pop pointer 0
push this 4
return
function Player.getX 0
push argument 0
pop pointer 0
push this 0
return
function Player.getY 0
push argument 0
pop pointer 0
push this 1
return
function Player.draw 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
call Player.clean 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 8
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 8
lt
not
if-goto WHILE_END1
push this 7
push local 0
push local 1
call Array2d.get 3
pop local 2
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END0
push this 0
push local 1
add
push this 1
push local 0
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.update 0
push argument 0
pop pointer 0
push this 0
pop this 2
push this 1
pop this 3
push argument 1
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 6
sub
pop this 0
label IF_FALSE0
push argument 1
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 6
add
pop this 0
label IF_FALSE1
push constant 0
return
function Player.clean 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 2
push this 3
push this 2
push this 4
add
push this 3
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
